.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 4rem;
  padding-left: 6rem;
  transition: all 300ms ease-in;

  font-size: $default-font-size;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__shape {
    width: 15rem;
    height: 15rem;

    clip-path: circle(50% at 50% 50%);

    transform: translateX(-0.3rem);

    position: relative;
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 500ms;
  }

  &__text {
    max-width: 55rem;
    text-align: left;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    text-align: center;

    color: $color-white;
    font-size: 1.7rem;
    opacity: 0;
    backface-visibility: hidden;

    transition: all 500ms;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(90%);
  }
}
