.container {
  max-width: $max-width;
  margin: 0 auto;
}

.u-center-text {
  text-align: center;
}

.u-margin-small {
  margin-bottom: 1.5rem;
}

.u-margin-medium {
  margin-bottom: 4rem;
}

.u-margin-big {
  margin-bottom: 8rem;
}
